.titulo{
    vertical-align: middle;
}
.head{
    position: absolute;
    left:0;
    right: 0;
    top:0;
    height: 110px;
}
.content{
    position: absolute;
    left:0;
    right: 0;
    top:110px;
    bottom: 0;
    background-color: lightcyan;
    border-top: 1px solid blue;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
.tabla-jugadores{
   
    margin: auto;
    text-align: center;
    td{
        height: 20px;
        line-height: 16px;
        padding: 0;
        .nombre{
            
        }
        i.customLockIcon{
            font-size: 1.5em;
        }
    }
    .icon{
        width: 40px;
    }
    .comprar{
        width: 90px;
    }
    .puntos{
        width: 80px;
    }
    .medias{
        width: 270px;
    }
    .posicion{
        width: 100px;
    }
    .duenyo{
        width: 150px;
    }
    .nombre{
        width: 300px;

    }

    .nombre-left{
        text-align: left;
        padding-left:8px;
    }
    .precio,.clausula{
        width: 150px;
    }
    .fin-clausula{
        width: 120px;
    }
    .media{
        border: 1px solid gray;
        border-radius: 6px;
        display: inline-block;
        line-height: 0px;
        margin-right: 4px;
        padding-left: 6px;
        background-color: black;
        color: white;
    }
    .pts{
        border: 1px solid gray;
        border-radius: 6px;
        width:24px;
        display: inline-block;
        text-align: center;
        &.total{
            background-color: gray;
            color: white;
            margin-left: 4px;
        }
    }
}